@page "/"
@using BinPlayground.Types
@using BinView.Components

<PageTitle>Binary Viewer</PageTitle>

<div class="loading-screen @(_loading ? "" : "hide")">
	<div>
		<div class="spinner-border text-primary" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
		<p>@(_loadingState)</p>
	</div>
</div>
<div class="@((_bytes == null) ? "" : "hide") landing">
	<div class="container">
		<h1>Online Binary Viewer</h1>
		<div class="mb-3">
			<label for="file-selector" class="form-label">File to inspect</label>
			<div class="input-group">
				<InputFile id="file-selector" class="form-control" OnChange="FileOnChange"></InputFile>
				<button class="btn btn-outline-primary" type="button" @onclick="OpenFile">Open file</button>
			</div>
		</div>
		<hr />
		<div>
			<ul class="nav justify-content-center">
				<li class="nav-item">
					<a href="https://github.com/mkaraki/BinInteractive">Source code</a>
				</li>
			</ul>
		</div>
	</div>
</div>
@if (_bytes != null)
{
	<div class="container">
		<div class="row mb-3 mt-3">
			<div class="col">
				File size: @(_fileSize)
				<button @onclick="CloseFile" class="btn btn-danger btn-sm" type="button">Close file</button>
			</div>
		</div>
		<div class="row" id="control">
			<div class="col-auto">Position:</div>
			<div class="col-auto">
				<label for="position-dec">dec</label>
			</div>
			<div class="col-auto">
				<input type="number" min="0" @bind="_seekPos" class="form-control form-control-sm" id="position-dec" />
			</div>
			<div class="col-auto">
				<label for="position-hex">hex</label>
			</div>
			<div class="col-auto">
				<input type="text" class="form-control form-control-sm" id="position-hex" @bind="SeekPosHex" />
			</div>
			<div class="col-auto">
				<button type="button" class="btn btn-primary btn-sm" @onclick="Seek">Seek</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="nav justify-content-center">
					<li class="nav-item">
						<a href="#control" class="nav-link" @onclick="SeekZero">Read first @(READ_AMOUNT)</a>
					</li>
					<li class="nav-item">
						<a href="#control" class="nav-link" @onclick="SeekPrev">Read previous @(READ_AMOUNT)</a>
					</li>
					<li class="nav-item">
						<a href="#control" class="nav-link" @onclick="SeekNext">Read next @(READ_AMOUNT)</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
	<div class="container-xl">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-center">
					<BitmapView Bytes="_bytes" @ref="_bitmapViewComponent"></BitmapView>
					<HexAndAsciiView Bytes="_bytes" @bind-SelectedBytes="_selectedBytes" @bind-LazySelectedBytes="_lazySelectedBytes" />
					<div class="utilities">
						<BytesUtilities Bytes="_selectedBytes" />
						<LazyBytesUtilities Bytes="_lazySelectedBytes" />
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<ul class="nav justify-content-center">
					<li class="nav-item">
						<a href="#control" class="nav-link" @onclick="SeekZero">Read first @(READ_AMOUNT)</a>
					</li>
					<li class="nav-item">
						<a href="#control" class="nav-link" @onclick="SeekPrev">Read previous @(READ_AMOUNT)</a>
					</li>
					<li class="nav-item">
						<a href="#control" class="nav-link" @onclick="SeekNext">Read next @(READ_AMOUNT)</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
}

@code {

	private BitmapView _bitmapViewComponent = new();

	private const long READ_AMOUNT = 0x2000;

	private const long UNSEEN_READ_AMOUNT = 0x10000;

	private IBrowserFile? _selectedFile = null;

	private Bytes? _bytes = null;

	private ulong _seekPos = 0;

	private string SeekPosHex
	{
		get => _seekPos.ToString("X");
		set
		{
			if (ulong.TryParse(value, System.Globalization.NumberStyles.HexNumber, null, out var v))
				_seekPos = v;
		}
	}

	private bool _loading = false;

	private string _loadingState = "";

	private ulong _fileSize = 0;

	private Bytes? _selectedBytes = null;

	private Bytes? _lazySelectedBytes = null;

	private void FileOnChange(InputFileChangeEventArgs e)
	{
		try
		{
			_selectedFile = e.File;
		}
		catch
		{
			_selectedFile = null;
		}
	}

	private async Task OpenFile()
	{
		if (_selectedFile == null) return;

		_loading = true;

		await Seek(0);

		_loading = false;
	}

	private void CloseFile()
	{
		_bytes = null;
	}

	private async Task SeekZero()
	{
		_seekPos = 0;
		await Seek();
	}

	private async Task SeekPrev()
	{
		if (_seekPos < READ_AMOUNT)
			_seekPos = 0;
		else
			_seekPos -= READ_AMOUNT;
		await Seek();
	}

	private async Task SeekNext()
	{
		_seekPos += READ_AMOUNT;
		await Seek();
	}

	private async Task Seek()
	{
		_loading = true;
		_loadingState = "Seek...";

		await Seek((long)_seekPos);

		_loading = false;
	}

	private async Task Seek(long pos)
	{
		if (_selectedFile == null)
			return;

		await using (var rs = _selectedFile.OpenReadStream(maxAllowedSize: long.MaxValue))
		{
			_fileSize = (ulong)rs.Length;


			if (rs.Length == 0)
			{
				return;
			}
			if (pos >= rs.Length)
			{
				pos = rs.Length - 1;
				_seekPos = (ulong)rs.Length - 1;
			}

			_loadingState = "seeking file stream to position";
			await Seek(rs, pos);

			var readAmount = Math.Min(READ_AMOUNT, Math.Max(0, rs.Length - pos));
			Console.WriteLine($"Reading {readAmount}");
			var buffer = new byte[readAmount];
			_loadingState = "Reading file stream to buffer";
			await rs.ReadExactlyAsync(buffer, 0, buffer.Length);

			_bytes = new Bytes(buffer, (ulong)pos);
		}

		_loadingState = "Generating bitmap";
		_bitmapViewComponent.Bytes = _bytes;
		await _bitmapViewComponent.Update();
	}

	private async Task Seek(Stream stream, long pos)
	{
		//stream.Position = 0;

		ulong seekNum = 0;

		while (stream.Position != pos)
		{
			var seekAmount = Math.Min(UNSEEN_READ_AMOUNT, pos - stream.Position);

			_loadingState = $"Seeking {seekAmount} bytes... {++seekNum}";

			var buffer = new byte[seekAmount];
			await stream.ReadExactlyAsync(buffer, 0, buffer.Length);
		}
	}

}
